:root {
  --background-color: white;
  --text-color: black;
  --input-background: white;
  --input-text-color: black;
  --button-background: white;
  --button-text-color: black;
  --footer-background: white;
  --footer-text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  --background-color: rgb(50, 48, 48);
  --text-color: white;
  --input-background: rgb(50, 48, 48);
  --input-text-color: white;
  --button-background: rgb(50, 48, 48);
  --button-text-color: white;
  --footer-background: rgb(50, 48, 48);
  --footer-text-color: white;
}

header {
  height: 175px;
  padding: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

#mode-toggle {
  height: 38px;
  background-color: var(--background-color);
}

/* Contains left and right containers */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.container-left {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  align-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: 10px;
}

.container-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-width: 240px;
  max-width: 899px;
  max-height: 450px;
  overflow: auto;
  border: 5px double grey;
  margin-left: 10px;
  padding: 10px;
}

input[type=date] {
  display: block;
  padding-left: 105px;
}

/* Aligns the text in dropdown menu */
select {
  text-align: center;
}

/* All user input appends into an article */
article {
  position: relative;
  width: 195px;
  height: 200px;
  border: 1px solid;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  background-color: var(--input-background);
  color: var(--input-text-color);
}

/* Fixes the Due Date to the bottom right of the article */
article p {
  position: absolute;
  bottom: 1px;
  right: 3px;
  text-align: right;
  font-size: 14px;
}

article:hover {
  box-shadow: 0 0 0.5em gray;
}

/* vv article elements - do not use outside of article vv */
/* Title attributes */
article h2 {
  max-width: 190px;
  max-height: 25px;
  border-bottom: 1px solid;
  overflow: auto;
}

/* Description attributes */
article h3 {
  overflow: auto;
  max-height: 110px;
}

/* Priority attributes */
.priority-div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
/* ^^ article elements - do not use outside of article ^^ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 0.85rem;
  position: relative;
}
