header {
  width: auto;
  height: 145px;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 10px;
}

/* User input container */
.container-left {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  width: 300px;
  margin-left: 10px;
  padding-top: 10px;
}

/* Displayed user input container */
.container-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 899px;
  max-height: 425px;
  overflow: auto;
}

/* Used to append an element for data to populate */
article {
  width: 195px;
  height: 200px;
  border: 1px solid;
  border-radius: 7px;
  margin: 5px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  font-size: 0.85rem;
  position: relative;
}

article:hover {
  box-shadow: 0 0 0.5em gray;
}

.priority-div {
  position: absolute;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

/* article elements - do not use outside of article */
h2 {
  max-width: 190px;
  border-bottom: 1px solid;
  text-align: center;
}

p {
  text-align: right;
}

h3 {
  overflow: auto;
  max-height: 120px;
}

/* Input fields - title + due date */
input {
  padding: 5px;
}

button .delete {
  text-align: right;
}

footer {
  margin-top: 20px;
  text-align: center;
}
